@import "tailwindcss";

/* Preline UI */
@source "../../../../../node_modules/preline/dist/*.js";
@import "../../../../../node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

/* Preline Themes */
@import "../../../../../node_modules/preline/css/themes/theme.css";

/* Project templates
@source "../../templates"; */