<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/output.css}" rel="stylesheet">         <!-- Tailwind CSS -->
    <title>Changing User Password</title>
</head>

<body class="flex flex-col min-h-screen">

<header class="flex-none flex flex-wrap sm:justify-start sm:flex-nowrap w-full py-3 bg-navbar border-b border-navbar-line">
    <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
        <a class="flex-none font-bold text-xl text-foreground focus:outline-hidden focus:opacity-80" th:href="@{/}" aria-label="Brand">
            <h1 class="m-0">Управление персональными финансами</h1>
        </a>
        <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
            <a class="text-sm font-medium text-primary-active focus:outline-hidden" href="#" aria-current="page">Семейный счет</a>
            <a class="text-sm text-navbar-nav-foreground hover:text-primary-hover focus:outline-hidden focus:text-primary-focus" href="#">Доходы</a>
            <a class="text-sm text-navbar-nav-foreground hover:text-primary-hover focus:outline-hidden focus:text-primary-focus" href="#">Расходы</a>
            <a class="text-sm text-navbar-nav-foreground hover:text-primary-hover focus:outline-hidden focus:text-primary-focus" href="#">Аналитика и отчеты</a>

            <!-- Вертикальный разделитель (опционально) НЕ ОТОБРАЖАЕТСЯ  -->
            <div class="hidden sm:block flex-none w-[2px] h-6 bg-gray-200 mx-2"></div>

            <!-- Кнопки действий -->
            <div class="flex items-center gap-x-3">
                <a sec:authorize="isAnonymous()" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 hover:bg-gray-100 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none"
                   th:href="@{/login}">Войти</a>
                <a sec:authorize="isAuthenticated()" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 hover:bg-gray-100 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none"
                   th:href="@{/logout-confirm}">Выйти</a>
                <a sec:authorize="isAnonymous()" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 hover:bg-gray-100 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none"
                   th:href="@{/register}">Зарегистрироваться</a>
                <a class="size-[40px] inline-flex items-center justify-center rounded-lg border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 hover:bg-gray-100 focus:outline-hidden overflow-hidden disabled:opacity-50 disabled:pointer-events-none"
                   th:href="@{/settings}">
                    <img src="https://pngicon.ru/file/uploads/2_43.png" alt="Администрирование" class="size-[30px] object-contain">
                </a>
            </div>

        </div>
    </nav>
</header>

<main class="flex flex-1 overflow-hidden">
    <!-- Content -->
    <div class="flex-1 overflow-y-auto w-full px-4 sm:px-6 md:px-8">
        <!-- Card Section -->
        <div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 mx-auto"><!-- Card -->
        <!--<div class="w-full max-w-2xl py-10">--><!-- Card -->
            <div class="bg-layer rounded-xl shadow-xs p-4 sm:p-7">
                <div class="mb-8">
                    <h2 class="text-xl font-bold text-foreground">
                        Изменение пароля
                    </h2>
                </div>

                <form th:object="${user}" th:method="post" th:action="@{${returnToWhenPost}}">
                    <!-- Grid -->
                    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-foreground mt-2.5">
                                Фото профиля
                            </label>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <div class="flex items-center gap-5">
                                <img class="inline-block size-16 rounded-full ring-2 ring-layer" src="https://preline.co/assets/img/160x160/img1.jpg" alt="Avatar">
                                <div class="flex gap-x-2">
                                    <div>
                                        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg bg-layer border border-layer-line text-layer-foreground shadow-2xs hover:bg-layer-hover disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-layer-focus">
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                                            Загрузить фото
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="id" class="inline-block text-sm text-foreground mt-2.5">
                                Id
                            </label>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <input type="hidden" th:field="*{id}">
                            <input id="id" type="text" placeholder="id" th:field="*{id}" disabled
                                   class="py-1.5 sm:py-2 px-3 block w-full bg-layer border-layer-line shadow-2xs sm:text-sm rounded-lg text-foreground placeholder:text-muted-foreground-1 focus:border-primary-focus focus:ring-primary-focus disabled:opacity-50 disabled:pointer-events-none">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="username" class="inline-block text-sm text-foreground mt-2.5">
                                Имя пользователя
                            </label>
                            <div class="hs-tooltip inline-block">
                                <svg class="hs-tooltip-toggle ms-1 inline-block size-3 text-muted-foreground" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible w-40 text-center z-10 py-1 px-2 bg-tooltip border border-tooltip-line text-xs font-medium text-tooltip-foreground rounded-md shadow-2xs" role="tooltip">
                                    Отображается в интерфейсе системы после входа
                                </span>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                                <input type="hidden" th:field="*{username}">
                                <input id="username" type="text" placeholder="username" th:field="*{username}" disabled
                                       class="py-1.5 sm:py-2 px-3 block w-full bg-layer border-layer-line text-foreground placeholder:text-muted-foreground-1 shadow-2xs -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg sm:text-sm relative focus:z-10 focus:border-primary-focus focus:ring-primary-focus disabled:opacity-50 disabled:pointer-events-none">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="curPassword" class="inline-block text-sm text-foreground mt-2.5">
                                Текущий пароль
                            </label>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <div class="space-y-2">
                                <input id="curPassword" type="password" th:field="*{currentPass}"
                                       class="py-1.5 sm:py-2 px-3 block w-full bg-layer border-layer-line shadow-2xs sm:text-sm rounded-lg text-foreground placeholder:text-muted-foreground-1 focus:border-primary-focus focus:ring-primary-focus disabled:opacity-50 disabled:pointer-events-none"
                                       placeholder="Enter current password">
                                <p th:if="${currentPasswordError}"
                                   class="text-xs text-red-600 mt-2">Текущий пароль указан неправильно
                                </p>
                                <p th:if="${#fields.hasErrors('currentPass')}"
                                   th:errors="*{currentPass}"
                                   class="text-xs text-red-600 mt-2">
                                    Error Text
                                </p>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="password" class="inline-block text-sm text-foreground mt-2.5">
                                Новый пароль
                            </label>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <div class="space-y-2">
                                <input id="password" type="password" th:field="*{newPassword}"
                                       class="py-1.5 sm:py-2 px-3 block w-full bg-layer border-layer-line shadow-2xs sm:text-sm rounded-lg text-foreground placeholder:text-muted-foreground-1 focus:border-primary-focus focus:ring-primary-focus disabled:opacity-50 disabled:pointer-events-none"
                                       placeholder="Enter new password">
                                <p th:if="${confirmNewPasswordError}"
                                   class="text-xs text-red-600 mt-2">Новый пароль и подтверждение пароля не совпадают!
                                </p>
                                <p th:if="${newPasswordIsNotDifferentError}"
                                   class="text-xs text-red-600 mt-2">Новый пароль не должен совпадать с теукщим паролем!
                                </p>
                                <p th:if="${#fields.hasErrors('newPassword')}"
                                   th:errors="*{newPassword}"
                                   class="text-xs text-red-600 mt-2">
                                    Error Text
                                </p>
                                <input type="password" th:field="*{confirm}"
                                       class="py-1.5 sm:py-2 px-3 block w-full bg-layer border-layer-line shadow-2xs sm:text-sm rounded-lg text-foreground placeholder:text-muted-foreground-1 focus:border-primary-focus focus:ring-primary-focus disabled:opacity-50 disabled:pointer-events-none"
                                       placeholder="Confirm new password">
                                <p th:if="${#fields.hasErrors('confirm')}"
                                   th:errors="*{confirm}"
                                   class="text-xs text-red-600 mt-2">
                                    Error Text
                                </p>
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Grid -->

                    <div class="mt-5 flex justify-end gap-x-2">
                        <button type="button"
                                th:onclick="|window.location.href = '@{${returnToWhenGet}}'|"
                                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg bg-layer border border-layer-line text-layer-foreground shadow-2xs hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-layer-focus">
                            Вернуться
                        </button>
                        <button type="submit"
                                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg bg-primary border border-primary-line text-primary-foreground hover:bg-primary-hover focus:outline-hidden focus:bg-primary-focus disabled:opacity-50 disabled:pointer-events-none">
                            Изменить пароль
                        </button>
                    </div>
                </form>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Card Section -->
    </div>
    <!-- End Content -->
</main>

<!-- ========== FOOTER ========== -->
<footer class="flex-none w-full max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-6 border-t border-footer-line">
        <div class="flex flex-wrap justify-between items-center gap-2">
            <div>
                <p class="text-xs text-muted-foreground-2">
                    © 2026 Preline Labs.
                </p>
            </div>
            <!-- End Col -->

            <!-- List -->
            <ul class="flex flex-wrap items-center">
                <li class="inline-block relative pe-4 text-xs last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-1.5 before:-translate-y-1/2 before:size-[3px] before:rounded-full before:bg-surface-3">
                    <a class="text-xs text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2" href="#">
                        X (Twitter)
                    </a>
                </li>
                <li class="inline-block relative pe-4 text-xs last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-1.5 before:-translate-y-1/2 before:size-[3px] before:rounded-full before:bg-surface-3">
                    <a class="text-xs text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2" href="#">
                        Dribbble
                    </a>
                </li>
                <li class="inline-block pe-4 text-xs">
                    <a class="text-xs text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2" href="#">
                        Github
                    </a>
                </li>
                <li class="inline-block">
                    <!-- Dark Mode -->
                    <button type="button" class="hs-dark-mode hs-dark-mode-active:hidden relative flex justify-center items-center size-7 bg-layer border border-layer-line text-layer-foreground rounded-full hover:bg-layer-hover focus:outline-hidden focus:bg-layer-focus" data-hs-theme-click-value="dark">
                        <span class="sr-only">Dark</span>
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg>
                    </button>
                    <button type="button" class="hs-dark-mode hs-dark-mode-active:flex hidden relative flex justify-center items-center size-7 bg-layer border border-layer-line text-layer-foreground rounded-full hover:bg-layer-hover focus:outline-hidden focus:bg-layer-focus" data-hs-theme-click-value="light">
                        <span class="sr-only">Light</span>
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path d="m19.07 4.93-1.41 1.41"></path></svg>
                    </button>
                    <!-- End Dark Mode -->
                </li>
            </ul>
            <!-- End List -->
        </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->

<script th:src="@{/js/preline.js}"></script>                 <!-- Preline UI -->
</body>
</html>